body{
    background-color:rgb(230, 208, 181)
}
.top{
    color: rgb(119, 30, 30);
}
.s1{
    color: rgb(119, 30, 30);
    margin-left: 1em;
}
.listeBaslık1{
    display: inline-block;
    background-color: rgb(119, 30, 30);
    color: white;
    border-radius: 1em
}
.mrg{
    margin-left: 33%;
}
.mirg{
    margin-left: 33%;
}
.marg{
    margin-left: 70%;
}
.merg{
    margin-left: 36%;
}
.mrs{
    margin-top: 3px;
}
